<!--&lt;!&ndash;{% extends dashing/base.html %}&ndash;&gt;-->
<!--{% load staticfiles %}-->

<!--&lt;!&ndash;{% block stylesheets %}&ndash;&gt;-->
<!--&lt;!&ndash;<link rel="stylesheet" href="{% static 'my/custom/style.css' %}">&ndash;&gt;-->
<!--&lt;!&ndash;{% endblock %}&ndash;&gt;-->

<!--&lt;!&ndash;{% block scripts %}&ndash;&gt;-->
<!--&lt;!&ndash;<script type="text/javascript" src="{% static 'my/custom/script.js' %}"></script>&ndash;&gt;-->
<!--&lt;!&ndash;{% endblock %}&ndash;&gt;-->

<!--{% block config_file %}-->
<!--<script type="text/javascript" src="{% static 'dashing-config.js' %}"></script>-->
<!--{% endblock %}-->